In [1]:
import pandas as pd
import datetime as dt

In [2]:
#Create a DataFrame for the 202301-citibike-tripdata
csv_path = "Resource/202301-citibike-tripdata.csv"
df = pd.read_csv(csv_path)
df.head()

C:\Users\lamot\AppData\Local\Temp\ipykernel_8972\294292347.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual

In [3]:
#Counting the overall number of entries in the data
df.count()

ride_id               1855201
rideable_type         1855201
started_at            1855201
ended_at              1855201
start_station_name    1855145
start_station_id      1855145
end_station_name      1850259
end_station_id        1850259
start_lat             1855201
start_lng             1855201
end_lat               1853993
end_lng               1853993
member_casual         1855201
dtype: int64

In [4]:
#Identifying column types in the dataset
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [5]:
#Filtering the 202301 dataset for all casual riders
df2 = df.query("member_casual == 'casual'")

In [6]:
df2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
15,EB65B1AB85087BD9,classic_bike,2023-01-01 14:38:57,2023-01-01 14:49:29,6 Ave & W 45 St,6593.15,Central Park S & 6 Ave,6876.04,40.756951,-73.982631,40.765909,-73.976342,casual
24,A6D86ECF4279BC4F,electric_bike,2023-01-27 07:49:57,2023-01-27 08:09:32,Halsey St & Tompkins Ave,4319.07,Morgan Ave & Lombardy St,5503.01,40.682369,-73.944118,40.722260,-73.938890,casual

In [7]:
#rechecking the number of riders in the new dataset
df2.count()

ride_id               240020
rideable_type         240020
started_at            240020
ended_at              240020
start_station_name    240000
start_station_id      240000
end_station_name      238670
end_station_id        238670
start_lat             240020
start_lng             240020
end_lat               239528
end_lng               239528
member_casual         240020
dtype: int64

In [8]:
#Clearing duplicates by ride_id if existing
df2.drop_duplicates(subset='ride_id')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
15,EB65B1AB85087BD9,classic_bike,2023-01-01 14:38:57,2023-01-01 14:49:29,6 Ave & W 45 St,6593.15,Central Park S & 6 Ave,6876.04,40.756951,-73.982631,40.765909,-73.976342,casual
24,A6D86ECF4279BC4F,electric_bike,2023-01-27 07:49:57,2023-01-27 08:09:32,Halsey St & Tompkins Ave,4319.07,Morgan Ave & Lombardy St,5503.01,40.682369,-73.944118,40.722260,-73.938890,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855172,B81AE2BC7F128953,classic_bike,2023-01-31 11:04:33,2023-01-31 11:24:26,W Broadway & Spring St,5569.06,W 21 St & 6 Ave,6140.05,40.724947,-74.001659,40.741740,-73.994156,casual
1855177,CA59E32C531B51DF,electric_bike,2023-01-24 13:25:28,2023-01-24 13:36:22,31 Ave & 14 St,6966.04,36 Ave & 10 St,6737.03,40.768200,-73.932266,40.761438,-73.941126,casual
1855178,C7F82FC2221F22A2,classic_bike,2023-01-24 18:48:35,2023-01-24 19:06:20,Greene Av & Myrtle Av,4784.02,Kosciuszko St & Nostrand Ave,4519.04,40.698568,-73.918877,40.690725,-73.951335,casual
1855179,9FC256EB03947CCC,electric_bike,2023-01-15 09:51:16,2023-01-15 09:58:55,E 35 St & Madison Ave,6398.08,W 21 St & 6 Ave,6140.05,40.748480,-73.982556,40.741740,-73.994156,casual
1855180,44FD5E0D8F7FD61E,classic_bike,2023-01-15 17:46:30,2023-01-15 17:56:26,Henry St & Remsen St,4645.04,Congress St & Hicks St,4497.09,40.694010,-73.994651,40.689395,-73.999513,casual

In [9]:
#Rechecking numbers
df2.count()

ride_id               240020
rideable_type         240020
started_at            240020
ended_at              240020
start_station_name    240000
start_station_id      240000
end_station_name      238670
end_station_id        238670
start_lat             240020
start_lng             240020
end_lat               239528
end_lng               239528
member_casual         240020
dtype: int64

In [10]:
#Uploading dataset for 202212-citibike-tripdata.csv
csv_path2 = "Resource/202212-citibike-tripdata.csv"
df3 = pd.read_csv(csv_path2)
df3.head()

C:\Users\lamot\AppData\Local\Temp\ipykernel_8972\991730775.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(csv_path2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0EF496F342AD4E7E,classic_bike,2022-12-05 17:47:32,2022-12-05 18:13:10,DeKalb Ave & Hudson Ave,4513.06,Perry St & Bleecker St,5922.07,40.689909,-73.980552,40.735354,-74.004831,member
1,4B9482CBC3FAC46B,classic_bike,2022-12-08 19:08:05,2022-12-08 19:20:23,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807518,-73.939027,40.812735,-73.923697,member
2,59F23FEB16138E43,classic_bike,2022-12-22 19:11:48,2022-12-22 19:21:46,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807569,-73.939101,40.812735,-73.923697,member
3,974F8AE1F18859F4,classic_bike,2022-12-12 08:38:09,2022-12-12 08:43:43,Driggs Ave & N Henry St,5542.04,Meserole Ave & Manhattan Ave,5666.04,40.723208,-73.943045,40.727086,-73.952991,casual
4,4B04C5C25EC9D6ED,classic_bike,2022-12-13 12:29:54,2022-12-13 12:36:35,3 St & 3 Ave,4028.03,Carroll St & 6 Ave,4019.06,40.675070,-73.987752,40.674089,-73.978728,member

In [11]:
#Checking count of initial 202212 spreadsheet
df3.count()

ride_id               1649652
rideable_type         1649652
started_at            1649652
ended_at              1649652
start_station_name    1649622
start_station_id      1649622
end_station_name      1644484
end_station_id        1644484
start_lat             1649652
start_lng             1649652
end_lat               1648490
end_lng               1648490
member_casual         1649652
dtype: int64

In [12]:
#Confirming that datatypes match with 202301
df3.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [13]:
#Filtering the 202212 dataset for all casual riders
df4 = df3.query("member_casual == 'casual'")

In [14]:
df4.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3,974F8AE1F18859F4,classic_bike,2022-12-12 08:38:09,2022-12-12 08:43:43,Driggs Ave & N Henry St,5542.04,Meserole Ave & Manhattan Ave,5666.04,40.723208,-73.943045,40.727086,-73.952991,casual
16,4591F7AB2A784DB8,classic_bike,2022-12-08 11:10:51,2022-12-08 11:16:54,Great Jones St,5636.11,E 16 St & 5 Ave,6022.04,40.727453,-73.993877,40.737262,-73.992390,casual
28,817B6A4C6D5F6233,classic_bike,2022-12-10 15:33:56,2022-12-10 15:50:29,Hudson St & W 13 St,6115.06,St Marks Pl & 2 Ave,5669.10,40.740248,-74.005270,40.728419,-73.987140,casual
32,D4B3243D0886AD72,classic_bike,2022-12-31 19:40:20,2022-12-31 19:59:39,Bushwick Ave & Linden St,4600.09,S 3 St & Bedford Ave,5235.05,40.691532,-73.921494,40.712605,-73.962644,casual
41,6D65B7D374FC20F4,classic_bike,2022-12-23 17:11:57,2022-12-23 17:26:04,DeKalb Ave & Hudson Ave,4513.06,Suydam St & Broadway,4689.03,40.689782,-73.980856,40.695440,-73.932230,casual

In [15]:
df4.count()

ride_id               230873
rideable_type         230873
started_at            230873
ended_at              230873
start_station_name    230858
start_station_id      230858
end_station_name      229340
end_station_id        229340
start_lat             230873
start_lng             230873
end_lat               230396
end_lng               230396
member_casual         230873
dtype: int64

In [16]:
df4.drop_duplicates(subset='ride_id')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3,974F8AE1F18859F4,classic_bike,2022-12-12 08:38:09,2022-12-12 08:43:43,Driggs Ave & N Henry St,5542.04,Meserole Ave & Manhattan Ave,5666.04,40.723208,-73.943045,40.727086,-73.952991,casual
16,4591F7AB2A784DB8,classic_bike,2022-12-08 11:10:51,2022-12-08 11:16:54,Great Jones St,5636.11,E 16 St & 5 Ave,6022.04,40.727453,-73.993877,40.737262,-73.992390,casual
28,817B6A4C6D5F6233,classic_bike,2022-12-10 15:33:56,2022-12-10 15:50:29,Hudson St & W 13 St,6115.06,St Marks Pl & 2 Ave,5669.10,40.740248,-74.005270,40.728419,-73.987140,casual
32,D4B3243D0886AD72,classic_bike,2022-12-31 19:40:20,2022-12-31 19:59:39,Bushwick Ave & Linden St,4600.09,S 3 St & Bedford Ave,5235.05,40.691532,-73.921494,40.712605,-73.962644,casual
41,6D65B7D374FC20F4,classic_bike,2022-12-23 17:11:57,2022-12-23 17:26:04,DeKalb Ave & Hudson Ave,4513.06,Suydam St & Broadway,4689.03,40.689782,-73.980856,40.695440,-73.932230,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649611,B5789873F65D4D5D,classic_bike,2022-12-29 08:49:55,2022-12-29 08:57:15,8 Ave & W 31 St,6450.05,E 20 St & Park Ave,6055.08,40.750535,-73.994806,40.738274,-73.987520,casual
1649612,33A857D01726AEA7,classic_bike,2022-12-02 09:32:07,2022-12-02 09:40:31,Southern Blvd & E 149 St,7788.13,E 150 St & Gerard Ave,7906.13,40.811882,-73.904233,40.820089,-73.928947,casual
1649613,0CBDACA21FE75FC8,electric_bike,2022-12-30 03:14:08,2022-12-30 03:56:52,E 7 St & Avenue A,5626.07,Vesey St & Church St,5216.06,40.726218,-73.983799,40.712220,-74.010472,casual
1649614,7EBD061EEE1FC70C,classic_bike,2022-12-13 20:23:29,2022-12-13 20:35:08,E 41 St & Madison Ave (SW corner),6474.12,E 20 St & Park Ave,6055.08,40.752165,-73.979922,40.738274,-73.987520,casual
1649615,E632EECF657F63D9,classic_bike,2022-12-13 08:26:51,2022-12-13 08:37:31,8 Ave & W 31 St,6450.05,E 20 St & Park Ave,6055.08,40.750585,-73.994685,40.738274,-73.987520,casual

In [17]:
df4.count()

ride_id               230873
rideable_type         230873
started_at            230873
ended_at              230873
start_station_name    230858
start_station_id      230858
end_station_name      229340
end_station_id        229340
start_lat             230873
start_lng             230873
end_lat               230396
end_lng               230396
member_casual         230873
dtype: int64

In [18]:
#appending both dataframes into one
merged_citibike=df2.append(df4, ignore_index=True, verify_integrity=False, sort=None)

C:\Users\lamot\AppData\Local\Temp\ipykernel_8972\3589366704.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_citibike=df2.append(df4, ignore_index=True, verify_integrity=False, sort=None)
C:\Users\lamot\AppData\Local\Temp\ipykernel_8972\3589366704.py:2: FutureWarning: Passing non boolean values for sort is deprecated and will error in a future version!
  merged_citibike=df2.append(df4, ignore_index=True, verify_integrity=False, sort=None)

In [19]:
#Saving cleaned and merged data to Cleaning_results folder
merged_citibike.to_csv("cleaning_results/202212-202301-citibike-tripdata-clean.csv", index=False)